<% if (messages.error) { %>
  <div class="notification is-warning mt-6">
    <button class="delete"></button>
    <p><%= messages.error %></p>
  </div>
<% } %>

<% if (locals.errors) { %>
  <div class="notification is-warning mt-6">
    <button class="delete"></button>
    <ul>
      <% locals.errors.forEach(function(error){ %>
        <li> <strong>Warning!</strong> <%= error.msg %> </li>
      <% }); %>
    </ul>
  </div>
<% } %>

<% if (messages.success) { %>
  <div class="notification is-success mt-6">
    <button class="delete"></button>
    <p><%= messages.success %></p>
  </div>
  
<% } %>
<% if (messages.info) { %>
  <div class="notification is-info mt-6">
    <button class="delete"></button>
    <p><%= messages.info %></p>
  </div>
<% } %>
<% if (messages.danger) { %>
  <div class="notification is-danger mt-6">
    <button class="delete"></button>
    <p><%= messages.danger %></p>
  </div>
<% } %>


