<div class="container">
  <h1 class="title is-2 has-text-centered"><%= title %></h1>
  <form action="" method="post">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">

    <div class="field">
      <label class="label" for="title">Title</label>
      <div class="control">
        <input
          class="input"
          type="text"
          id="title"
          name="title"
          placeholder="Message title"
          required
          value="<%= typeof locals.post !== 'undefined' ? locals.post.title : '' %>"
        >
      </div>
    </div>
    <div class="field">
      <label class="label" for="text">Message</label>
      <div class="control">
        <input
          class="input is-large"
          type="text"
          id="text"
          name="text"
          placeholder="Message text"
          required
          value="<%= typeof locals.post !== 'undefined' ? locals.post.text : '' %>"
        >
      </div>
    </div>
    <div>
      <input
        type="hidden"
        id="author"
        name="author"
        required
        value="<%= currentUser %>"
      >
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success" type="submit">
          Send Message
        </button>
      </p>
    </div>
  </form>
</div>
