<div class="container">
  <% if (locals.errors) { %>
    <ul>
    <% locals.errors.forEach(function(error){ %>
      <li> <%= error.msg %> </li>
    <% }); %>
    </ul>
  <% } %>
  <h1>hi <%= currentUser.userName %></h1>
  <h2>Write New Message</h2>
  <form action="/posts/create" method="post">
    <div>
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Message title"
        required
        value="<%= typeof locals.post !== 'undefined' ? locals.post.title : '' %>"
      >
    </div>
    <div>
      <label for="text">Message</label>
      <textarea
        type="textarea"
        id="text"
        name="text"
        placeholder="Message text"
        required
        value="<%= typeof locals.post !== 'undefined' ? locals.post.text : '' %>"
      ></textarea>
    </div>
    <div>
      <input
        type="hidden"
        id="author"
        name="author"
        required
        value="<%= currentUser %>"
      >
    </div>
    <button type="submit">Send Message</button> 
  </form>
</div>
