<div>
  <%- include('../partials/messages.ejs') %>
</div>

<a class="button is-medium is-primary" href="posts/create"> New Message</a>
<h1><%= title %></h1>
<div>
  <dl>
    <% posts.forEach(post => { %>
      <dt> <%= post.title %></dt>
      <dd> <%= post.text %></dd>
      <% if (post.author) { %>
        <dd> <%= post.author.fullName %></dd>
        <dd> <%= post.author.createdAt %></dd>
        <% if ((currentUser._id.toString() === post.author._id.toString()) || currentUser.isAdmin()) { %>
          <div>
            <form method="POST" action="<%= post.url %>" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_csrf" value="<%= _csrf %>">
              <button type="submit">Delete</button>
            </form>
          </div>
        <% }; %>

        <% if (currentUser._id.toString() === post.author._id.toString()) { %>
          <div>
            <form action="<%= post.url + '/update' %>">
              <input type="hidden" name="_csrf" value="<%= _csrf %>">
              <button type="submit">Edit</button>
            </form>
          </div>
        <% }; %>

      <% }; %>
      <hr>
      <br>
    <% }); %>
  </dl>
  
</div>