<h1>hi <%= currentUser.userName %></h1>
<a href="posts/create"> New Message</a>
<p>Welcome to <%= title %></p>
<div>
  <% const posts = locals.posts %>
    <dl>
      <% posts.forEach(post => { %>
        <%= post %>
        <dt> <%= post.title %></dt>
        <dd> <%= post.text %></dd>
        <dd> <%= post.author.fullName %></dd>
        <dd> <%= post.author.createdAt %></dd>
    </dl>
  <% }); %>
</div>